body {
    background-color:#EBEBEB;
}

.heading {
    background-color: #333333;
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
}

.title {
    background-color: #f07229;
    padding: 5px;
    color: white;
}

#runtime {
    background-color: #333333;
    color: #4d99e6;
    padding: 0px 0px 5px 5px;
}

.content {
    color: #d93ede;
}

#subtitle {
    color: rgb(214, 46, 46);
    margin-left: 55px;
}

#showing {
    margin-left: 20px;
}

.film {
    font-size: 20px;
}

.sold-out {
    color: lightgray;
}

img {
    max-width: 25vw;
}

#film-info {
    padding-bottom: 15px;
}