body {
    background-color:#45abda;
}

.heading {
    background-color: #797974;
    margin-bottom: 20px;
    padding: 5px 0px 5px 15px;
}

.title {
    background-color: #f07229;
    padding: 5px;
    color: white;
}

#runtime {
    background-color: #f5f82f;
    color: #e44a2f;
    padding: 0px 0px 5px 5px;
}

.content {
    color: #e5e90c;
}

#subtitle {
    color: rgb(37, 35, 35);
    margin-left: 55px;
}

#showing {
    margin-left: 20px;
}

.film {
    font-size: 20px;
}

.sold-out {
    color: lightgray;
}

img {
    max-width: 25vw;
}

#film-info {
    padding-bottom: 15px;
}